
.title {
  margin-bottom: 5vh
}

.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}

@media(max-width:767px) {
  .card {
    margin: 3vh auto
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

@media(max-width:767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media(max-width:767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem
  }
}

.summary .col-2 {
  padding: 0
}

.summary .col-10 {
  padding: 0
}

input:focus::-webkit-input-placeholder {
  color: transparent
}


#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center
}

.customer-info-hide
{
  display: none;
}

.btn
{
  margin: 3px !important;
}


.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle
{
  background-color: #46515e;
}

