<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RentSki</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-md py-3">
            <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                            <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                            <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                        </svg></span><span>RENT SKI</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-4"><span class="visually-hidden"></span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-4" >
                    <ul class="navbar-nav me-auto" style="background-color:rgb(172, 172, 172); border-radius: 1ch; ">
                        <li class="nav-item"><a class="nav-link active" href="/create-order" style="border:-.5a">Sipariş Oluştur</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#">Siparişler</a></li>
                        <li class="nav-item"><a class="nav-link active" href="index4.html">Ürün Oluştur</a></li>
                        <li class="nav-item"><a class="nav-link active" href="index3.html">Ürünler</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#">Raporlar</a></li>
                    </ul>
                    <div class="d-md-none my-2"><button class="btn btn-light me-2" type="button">Button</button><button class="btn btn-primary" type="button">Button</button></div>
                </div>
            </div>
        </nav>
        <hr/>
    </header>
    <main>
        <div class="container">
            <div class="row">
              <script>
                let fullNamesArr...
                let fullNamesLength = fullNamesArr.length;

                let leftColumn = [];
                let rightColumn = [];

                for (let i = 0; i < fullNamesLength; i++) {
                  if (i % 2 === 0) {
                    leftColumnt.push(fullNamesArr[i]);
                  } else {
                    rightColumn.push(fullNamesArr[i]);
                  }
                }
              </script>
                <div class="col-4">
                    <!--<div class="form-group input-group row">
                        <label class="col-sm-2 col-form-label">Telefon Numarası</label>
                        <div style="max-width: 380px;">
                            <form class="d-flex align-items-center">
                                <i class="fas fa-search d-none d-sm-block h4 text-body m-0"></i>
                                <input class="form-control form-control-lg flex-shrink-1 form-control-borderless" type="text" id="phone-number" placeholder="Telefon Numarası" data-inputmask="'alias': 'phonebe'" name="searchbar" />
                                <button class="btn btn-success btn-lg" type="submit">Ara</button>
                            </form>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group input-group row">
                        <label class="col-sm-2 col-form-label">Ad Soyad</label>
                        <div style="max-width: 380px;">
                            <form class="d-flex align-items-center">
                                <i class="fas fa-search d-none d-sm-block h4 text-body m-0"></i>
                                <input class="form-control form-control-lg flex-shrink-1 form-control-borderless" type="search" placeholder="Ada Soyad" name="input" />
                            </form>
                        </div>
                    </div>-->
                    <div class="col">
                        <!--<div class="row" style="height: 131px;margin: 0px;margin-top: 11px; margin-left: -12px;border-bottom-width: 1px;border-bottom-color: rgb(10,43,77);">
                            <div class="col-9 col-lg-8 btn-group"><button class="btn btn-primary btn-block" type="button">170 CM</button><button class="btn btn-primary btn-block" type="button">150 CM</button><button class="btn btn-primary btn-block" type="button">170 CM</button><button class="btn btn-primary btn-block" type="button">170 CM</button><button class="btn btn-primary btn-block" type="button">170 CM</button></div>
                        </div>-->
                        <div class="row" style="height: 68px;margin: 0px;margin-top: 11px;margin-left: -12px;border-bottom-width: 1px;border-bottom-color: rgb(10,43,77);" th:each="product : ${products}">
                            <div class="col-9 col-lg-8" data-toggle="buttons">
                                <button class="btn btn-primary" type="button" style="width: 100%;height: 100%;"
                                        th:name="${product.code}" value="yes"
                                        th:data-full-price="${product.prices.get('FULL').price}"
                                        th:data-student-price="${product.prices.get('STUDENT').price}"
                                        th:data-guest-price="${product.prices.get('GUEST').price}"
                                        th:data-sportman-price="${product.prices.get('SPORTMAN').price}"
                                        th:data-name="${product.displayName}">
                                  <label th:text="${product.displayName}"></label>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                  <div class="col">
                    <div class="row" style="height: 68px;margin: 0px;margin-top: 11px;margin-left: -12px;border-bottom-width: 1px;border-bottom-color: rgb(10,43,77);" th:each="product : ${products}">
                      <div class="col-9 col-lg-8" data-toggle="buttons">
                        <button class="btn btn-primary select-product" type="button" style="width: 100%;height: 100%;" value="yes"
                                th:name="${product.code}"
                                th:data-full-price="${product.prices.get('FULL').price}"
                                th:data-student-price="${product.prices.get('STUDENT').price}"
                                th:data-guest-price="${product.prices.get('GUEST').price}"
                                th:data-sportman-price="${product.prices.get('SPORTMAN').price}"
                                th:data-name="${product.displayName}">
                          <label th:text="${product.displayName}"></label>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 summary">
                  <div class="form-group input-group row">
                    <label class="col-sm-2 col-form-label">Telefon Numarası</label>
                    <div style="max-width: 380px;">
                      <form class="d-flex align-items-center">
                        <i class="fas fa-search d-none d-sm-block h4 text-body m-0"></i>
                        <input class="form-control form-control-lg flex-shrink-1 form-control-borderless" type="text" id="phone-number" placeholder="Telefon Numarası" data-inputmask="'alias': 'phonebe'" name="searchbar" />
                        <button class="btn btn-success btn-lg" type="submit">Ara</button>
                      </form>
                    </div>
                  </div>
                  <br/>
                  <div class="form-group input-group row">
                    <label class="col-sm-2 col-form-label">Ad Soyad</label>
                    <div style="max-width: 380px;">
                      <form class="d-flex align-items-center">
                        <i class="fas fa-search d-none d-sm-block h4 text-body m-0"></i>
                        <input class="form-control form-control-lg flex-shrink-1 form-control-borderless" type="search" placeholder="Ada Soyad" name="input" />
                      </form>
                    </div>
                  </div>
                  <br/>
                    <div>
                      <h5><b>Özet</b></h5>
                    </div>
                    <hr>
                    <div id="items" style="padding: 2vh 0;"></div>
                    <div>
                        <div class="row">
                            <div class="col"><b>Kayak Takımı</b></div>
                            <div class="col text-right"><b>100</b></div>
                        </div>
                        <br/>
                        <div class="row customer-info-hide" >
                            <div class="col-sm-6">
                              <span>Adet Seçin</span>
                              <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn btn-outline-secondary btn-number btn-lg" disabled="disabled" data-type="minus" data-field="quant[2]">
                                        <span> - </span>
                                    </button>
                                </span>
                                <input type="text" name="quant[2]" class="form-control input-number" value="1" min="1" max="10">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary btn-number btn-lg" data-type="plus" data-field="quant[2]">
                                        <span> + </span>
                                    </button>
                                </span>
                              </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div id="sled-time-area">
                        <div class="row">
                            <div class="col"><b>Kızak Kiralama</b></div>
                        </div>
                        <br/>
                        <div class="row customer-info-hide" >
                            <div class="col-sm-6">
                              <span>Süre Seçin</span>
                              <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn btn-outline-secondary btn-number btn-lg" disabled="disabled" data-type="minus" data-field="quant[2]">
                                        <span> - </span>
                                    </button>
                                </span>
                                <input type="text" name="quant[2]" class="form-control input-number" id="sket-hour" value="1" min="0.5" max="10">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary btn-number btn-lg" data-type="plus" data-field="quant[2]">
                                        <span> + </span>
                                    </button>
                                </span>
                              </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div ><b>İndirim Oranı</b></div>
                        <div class="col">
                            <button class ="btn btn-primary btn-lg" >%5</button>
                            <button class ="btn btn-primary btn-lg" >%10</button>
                            <button class ="btn btn-primary btn-lg" >%15</button>
                            <button class ="btn btn-primary btn-lg" >%20</button>
                            <button class ="btn btn-primary btn-lg" >%25</button>
                        </div>
                    </div>
                    <br/>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col"><b>Toplam</b></div>
                        <div class="col text-right" id="total-price"></div>
                    </div>
                    <button class ="btn btn-primary btn-lg" id="save">Kaydet</button>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
