spring:
    profiles:
        active: prod
    datasource:
        url: jdbc:mysql://db:3306/rentautomation?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8
        username: root
        password: root
        driver-class-name: com.mysql.cj.jdbc.Driver
